{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link href="css/style.css" rel="stylesheet">
    </head>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.5/dist/htmx.min.js"></script>
    <body>
        <form id="form" hx-encoding="multipart/form-data" hx-target="#message" hx-post="/upload">
            <input type="file" name="files" webkitdirectory mozdirectory multiple>
            <button type="submit">upload</button>
        </form>
        <div id="message"></div>
        <form hx-post="/download-selected" hx-target="#download-area" hx-swap="innerHTML">
            <div class="file-grid">
                {{ range .Files }}
                    <div class="file">
                        <input type="checkbox" name="file_paths" value="{{ .Path }}">
                        {{ if .IsDir }}
                            📁 <a href="open?path={{ .Path }}">{{ .Name }}</a>
                        {{ else }}
                            📄 {{ .Name }}
                        {{ end }}
                        <a href="/download/{{ .Path }}">Download</a>
                    </div>
                {{ else }}
                    <p>No files found.</p>
                {{ end }}
            </div>
            <button type="submit">Download Selected</button>
        </form>

        <div id="download-area"></div>
    </body>
</html>
{{ end }}
